[[extend 'layout.html']]

[[block page_menu_items]]
   <a class="navbar-item" href="[[=URL('index')]]">
      Home
   </a>
   <a class="navbar-item has-text-primary" href="[[=URL('DungeonMaster')]]">
      Dungeon Master
   </a>
   <a class="navbar-item" href="[[=URL('about')]]">
      About
   </a>
   [[if admin > 2:]]
   <a class="navbar-item" href="[[=URL('admin_page')]]">
      <p>Admin</p>
   </a>
   [[pass]]
[[end]]

<div class="section">

   <div class="container">
      <div id="gameDiv" class="box has-background-grey">
      </div>
   </div>

</div>

[[block page_scripts]]
<script>
   let check_admin_url = "[[=XML(check_admin_url)]]";
</script>
<script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
<script type="module" src="js/dungeonmaster.js"></script>
[[end]]