[[extend 'layout.html']]

[[block page_menu_items]]
   <a class="navbar-item has-text-primary" href="[[=URL('index')]]">
      Home
   </a>
   <a class="navbar-item" href="[[=URL('DungeonMaster')]]">
      Dungeon Master
   </a>
   <a class="navbar-item" href="[[=URL('about')]]">
      About
   </a>
   [[if admin > 2:]]
   <a class="navbar-item" href="[[=URL('admin_page')]]">
      <p>Admin</p>
   </a>
   [[pass]]
[[end]]

<div class="section" id="vue-target" v-cloak>

   <div class="container">
      <div class="box has-background-grey mb-6">
         <div class="columns">
            <div class="column">
               <figure class="image">
                  <img src="images/placeholder.jpg">
               </figure>
            </div>
            <div class="column">
               <h2 class="title is-3 has-text-white has-text-weight-bold">Demo Headline</h2>
               <p class="has-text-dark pb-4">June 1st, 2021</p>
               <p class="has-text-black">&emsp;&emsp;Lorem ipsum dolor sit amet, 
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                  ut labore et dolore magna aliqua. Amet nisl purus in mollis nunc. 
                  Eget dolor morbi non arcu risus quis. Facilisi cras fermentum odio eu 
                  feugiat pretium nibh. Urna et pharetra pharetra massa massa ultricies 
                  mi.
               </p>
            </div>
         </div>
      </div>
   </div>

</div>

[[block page_scripts]]
<script>
   let check_admin_url = "[[=XML(check_admin_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]