[[extend 'layout.html']]

[[block page_menu_items]]
   <a class="navbar-item" href="[[=URL('index')]]">
      Home
   </a>
   <a class="navbar-item" href="[[=URL('index')]]">
      Dating
   </a>
   <a class="navbar-item has-text-primary" href="[[=URL('lifestyle', 'main')]]">
      Lifestyle
   </a>
   <a class="navbar-item" href="[[=URL('about')]]">
      About
   </a>
   [[if admin > 2:]]
   <a class="navbar-item" href="[[=URL('admin_page')]]">
      <p>Admin</p>
   </a>
   [[pass]]
[[end]]

<div class="section" id="vue-target" v-cloak>
   <section class="hero is-small is-dark has-text-centered">
      <div class="hero-body">
         <div class="level has-text-centered">
            <div class="level-item has-text-centered">
               <a class="link" href="[[=URL('lifestyle', 'main')]]">Main</a>
            </div>
            <div class="level-item has-text-centered" v-if="[[=admin]]>1">
               <a class="link has-text-warning" href="[[=URL('manage_lifestyle', signer=url_signer)]]">Manage</a>
            </div>
            <div class="level-item has-text-centered" v-for="c in categories">
               <a class="link" :href="get_category_url(c.name)">{{c.name}}</a>
            </div>
         </div>
      </div>
   </section>
   <div class="container">
      <div class="block" v-for="s in subcategories">
         <h2 class="title is-3 mt-3">{{s.name}}</h2>
         <div class="tile is-ancestor">
            <div class="tile is-parent" v-for="i in 4">
               <div class="tile is-child box notification is-primary">
                  <p class="title is-6">
                     Contributor Name
                  </p>
                  <p class="typography">
                     This is a standin description of the contributor page
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

[[block page_scripts]]
<script>
   let check_admin_url = "[[=XML(check_admin_url)]]";
   let get_categories_url = "[[=XML(get_categories_url)]]";
   let get_subcategories_url = "[[=XML(get_subcategories_url)]]";
   let base_url = "[[=URL('lifestyle')]]/";
   let category_id = "[[=id]]";
</script>
<script src="js/lifestyle.js"></script>
[[end]]